.admin-layout{
    display:flex;
    min-height:100vh;
    background:#f8fafc;
}

.admin-main{
    margin-left:250px;
    width:100%;
    padding:30px;
}

@media(max-width:768px){

.admin-main{
margin-left:0;
padding:20px;
}

}